<h1 class="text-right index-heading">Welcome to FriendFinder</h1>

<div class="login-box">

    <h3>Log in to FriendFinder</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>

    <form action="/login/" method="post">
        <div class="form-group"><input type="text" name="username" class="form-control" placeholder="Type username..."></div>
        <div class="form-group"><input type="password" name="password" class="form-control" placeholder="Type password..."></div>
        <input type="submit" value="Login" class="btn btn-primary btn-block">
    </form>
</div>

<img src="/images/icon.png" class="index-logo">